body
{
  background-color: #59ABE3;
  background-size: cover;
  color: darkslateblue;
  font-size: 24pt;
  font-family: Arial;
  margin: auto;
  padding: 20;
}

h1
{
  color: midnightblue;
}

h2
{
  color: mediumblue;
}

h3
{
  color: darkblue;
}

#img1
{
  height: 40%; 
  width: 100%;
}

#img2 
{
    height: 20%;
    width: 20%;

  }
  
#img3
{
  height: 20%; 
  width: 25%;
  padding-top: 30;
}

#img4
{
  height: 25%; 
  width: 25%;
}

.question {
    background-color: royalblue;
    font-size: 24pt;
    color: aliceblue;
  }

hr
{
  height: 3px;  
  background-color: lightsteelblue;
}

.center
{
  text-align: center;
}


table 
{
   border-collapse: collapse;
   border: 1px solid black;
   font-size: 20pt;
}

td 
{
   border: 1px solid black;
   background-color: mediumaquamarine;
}

th 
{
   padding: 10px;
   border: 1px solid black;
   background-color: #4CAF50;
   color: white;
}

 a:link{color: green;}
 a:visited{color: indigo;}
 a:hover{color: thistle;}
 a:active{color:aqua;}

button
{
  width: 200px; 
  height: 30px;
}




